<div class="indiv-container">
<!--   <div (click)="close()" class="close-button">
    <img src="/images/close.png" class="close-icon" />
  </div> -->

    <div class="choose-profile" (click)="callList()" [class.selected]="isSelected">
      <h3>Profile</h3>
    </div>
    <div class="choose-list" (click)="callList()" [class.selected]="!isSelected">
      <h3>Other transactions</h3>
    </div>
    <spinner [isRunning]="isRequesting">
    </spinner>
    <div class="indiv" *ngIf="!isSelected && !isRequesting">
      <h3>{{individual?.NAME}}</h3>
      <p>{{individual?.CITY }}, {{individual?.STATE}}</p>
      <p>{{individual?.EMPLOYER}}</p>
      <p>{{individual?.OCCUPATION}}</p>
      <p>{{individual?.TRANSACTION_DT}}</p>
      <a [href]="individual?.FEC_LINK"><img src="images/fec.png" class="fec" /></a>
      <h4>Transaction Amount: {{parseFloat(individual?.TRANSACTION_AMT) | currency:'USD':true}}</h4>
    </div>
    <individual-popup-list *ngIf="isSelected" [indivName]="individual?.NAME">
    </individual-popup-list>
</div>