body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-center {
  text-align: center;
}

.result {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #F5F5F5 ;
  color: #B96464;
  height: 300px;
  overflow: auto;
}