

/*.api-route {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  background: #963D5A;
  margin: 1rem;
}
.route-column {
  display: flex;
  order: 1;
}
.api-result {
  display: flex;
  order: 1;
}*/