<div class="content">
  <div class="instructions">
    <p>- What is it
    - The following is a representation of the top donors to each committee
    - It shows the relative size of each donation in comparison to the other individuals
- How to navigate it
    - Hover over each circle to preview the name and transaction amount
    - Click on each individual to see a more detailed individual donor profile</p>
  </div>

  <individuals-list
    *ngIf="showList"
    [cmte]="cmte">
  </individuals-list>
  <bubble-chart *ngIf="!showList"
    [cmte]="cmte"
    (indivEmit)="changeTran($event)">
  </bubble-chart>
</div>