<div class="content">
  <div class="instructions">
    <p>The circles represent the largest donations from the top donors to each committee</p>
    <p>Circles are sized based on the size of donation relative to its peers</p>
    <p>Hover over each circle to preview the name and transaction amount</p>
    <p>Click on each individual to see a more detailed individual donor profile</p>
  </div>

  <individuals-list
    *ngIf="showList"
    [cmte]="cmte">
  </individuals-list>
  <bubble-chart *ngIf="!showList"
    [cmte]="cmte"
    (indivEmit)="changeTran($event)">
  </bubble-chart>
</div>