.landing-container {
  font-family: 'Prata', serif;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;

}

.main-banner {
  padding: 10%;
  height: 100%;
}

.main-menu {
  height: 100%;
  background: #73877B;

}

.main-menu-sel {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  height: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color:  #f2f2f2;
  -webkit-transition: background 1s ease, color 1s ease; /* Safari 3.1 to 6.0 */
  transition: background color 1s ease, color 1s ease;

}

.main-menu-sel:hover {
  background: #9DBF9E;
  color: #4d4d4d;

}

