.landing-container {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;

}

.main-banner {
  height: 100%;
}

.main-menu {
  height: 100%;
  background: #73877B;

}

.main-menu-sel {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  height: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-menu-sel:hover {
  background: #9DBF9E;
}

/*.banner {
  margin-top: 2%;
  width: 85vw;
  text-align: center;
}

.banner h1 {
  font-family: 'Kanit';
  font-size: 13vw;
  font-weight: 600;
  color: #EFF1F3;
}

.subtitle-container {
  width: 50%;
  margin-left: 25%;
}

.subtitle-container {
  color: white;
}

.main-candidates {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.cand {
  width: 20%;
  text-align: center;
  color: #EFF1F3;
}

.cand h5, p {
  margin: 0;
  padding: 0;
}

.main-candidates img {
  width: 100%;
  border-radius: 50%;
  border: solid 3px #EFF1F3;
}

.main-candidates img:hover {
  border: solid 8px #EFF1F3;
}

hr.style-two {
    border: 0;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(239,241,243, 0), rgba(239,241,243, 0.75), rgba(0, 0, 0, 0));
}*/
