<div class="landing-container" *ngIf="!isMobile">
  <div class="main-banner seven columns">
    <div class="title">
      Citizens Hub
    </div>
    <div style="text-align: center; width: 100%; display: block;">
      <p>< Currently Under Development ></p>
    </div>
    <div class="content">
      <h2>A campaign finance data visualization project that makes Federal Election Committee contribution records accessible to all voters</h2>
      <p>Every <img src="images/fec.png" class="fec" (click)="openFec()" /> icon throughout the site is a link to the original FEC filing containing the source data for the page you're visiting. Click on a category to the right to browse candidates' donor maps.</p>
    </div>

  </div>

  <div class="main-menu five columns">
    <div class="main-menu-sel six columns" (click)="redirect('home')">
      <h3>Home</h3>
    </div>
    <div class="main-menu-sel six columns" (click)="candPath('P')">
      <h3>Presidential <br> Candidates</h3>
    </div>
    <div class="main-menu-sel six columns coming-soon" (click)="redirect('home')">
      <h3 class="hide-soon">House <br> Candidates</h3>
    </div>
    <div class="main-menu-sel six columns coming-soon" (click)="redirect('home')">
      <h3  class="hide-soon">Senate <br> Candidates</h3>
    </div>
    <div class="main-menu-sel six columns coming-soon" (click)="redirect('home')">
      <h3  class="hide-soon">Super PACs</h3>
    </div>
    <div class="main-menu-sel six columns" (click)="about('about')">
      <h3>About</h3>
    </div>
    <div class="main-menu-sel six columns" (click)="funding('funding')">
      <h3>Donate</h3>
    </div>
    <div class="main-menu-sel six columns" (click)="methods('methods')">
      <h3>Resources</h3>
    </div>
  </div>
</div>
<div class="mobile-landing-container" *ngIf="isMobile">
  <div class="mobile-main-banner">
    <div class="mobile-title">
     Citizens Hub
    </div>
    <div class="content">
      <h3>A campaign finance transparency project</h3>
    </div>
  </div>
  <div class="mobile-main-menu">
    <div class="mobile-main-menu-sel" (click)="redirect('home')">
      <h2>Home</h2>
    </div>
    <div class="mobile-main-menu-sel" (click)="mobilePres()">
      <h2>Presidential Candidates</h2>
    </div>
    <div class="mobile-main-menu-sel coming-soon" (click)="redirect('home')">
      <h2 class="hide-soon">House Candidates</h2>
    </div>
    <div class="mobile-main-menu-sel coming-soon" (click)="redirect('home')">
      <h2  class="hide-soon">Senate Candidates</h2>
    </div>
    <div class="mobile-main-menu-sel coming-soon" (click)="redirect('home')">
      <h2  class="hide-soon">Super PACs</h2>
    </div>
    <div class="mobile-main-menu-sel" (click)="about('about')">
      <h2>About</h2>
    </div>
    <div class="mobile-main-menu-sel" (click)="funding('funding')">
      <h2>Donate</h2>
    </div>
    <div class="mobile-main-menu-sel" (click)="methods('methods')">
      <h2>Resources</h2>
    </div>
  </div>
</div>

