.landing-container {
  font-family: 'Prata', serif;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20%;
  font-size: 9rem !important;
  color: #73877B;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}

.content {
  padding: 15%;
  text-align: justify;
  text-justify: auto;
}

.content h2 {
  text-align: justify;
  text-justify: inter-word;
}

.main-menu {
  height: 100%;
  background: #73877B;

}

.fec {
  height: 2rem;
}

.main-menu-sel {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  height: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color:  #f2f2f2;
  -webkit-transition: background 1s ease, color 1s ease; /* Safari 3.1 to 6.0 */
  transition: background color 1s ease, color 1s ease;

}

.main-menu-sel:hover {
  background: #9DBF9E;
  color: #4d4d4d;

}

