<div class="row text-center">
  <h3>API Documentation</h3>
</div>
<div class="row">
  <div class="row text-center">
    <h4>Candidate Master Routes</h4>
  </div>
  <div class="row">
    <h5>localhost:5000/api/candmstr</h5>
  </div>
</div>
<div class="row">
  <div class="row text-center">
    <h4>Committee Opex Routes</h4>
  </div>
  <div class="row">
    <h5>localhost:5000/api/opex</h5>
  </div>
</div>
<div class="row ">
  <div class="row text-center">
    <h4>Candidate Contributions by Committee Routes</h4>
  </div>
  <div class="row">
    <h5>localhost:5000/api/cmtecand</h5>
  </div>
</div>
<div class="row ">
  <div class="rowm text-center">
    <h4>Congressional Votes Routes</h4>
  </div>
  <div class="row">
    <h5>localhost:5000/api/votes</h5>
  </div>
</div>
<div class="row ">
  <div class="rowm text-center">
    <h4>Independent Expenditure Routes</h4>
  </div>
  <div class="row">
    <h5>localhost:5000/api/indexp</h5>
  </div>
</div>


