.list * {
  box-sizing: border-box !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.text-center {
  text-align: center;
}
.totals {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.totals-box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.candidates-container {

  bottom: 0;
  font-family: 'Oswald';
  font-weight: 500;
}

.fec {
  height: 15rem;
}

.profile-img {
  height: 100%;
  margin-bottom: 0;
  border-radius: 50%;
  padding-bottom: 0;
  box-sizing: border-box;
  padding: 2rem;

}

.basic-info {
  text-align: center;
  padding: 4rem;
}

.profile-header {
  align-items: center;
  padding: 1rem;
}


.select-options {
  text-align: left;
  margin: 2rem 0 2rem 10%;
  clear: both;
}

h5 {
  font-size: 4rem;
  font-family: 'Oswald';
  font-weight: 300;
}

p {
  font-size: 4rem;
}

.button {
  font-family: 'Oswald';
  font-weight: 300;
  background-color: #73877B; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #9DBF9E;
  border-radius: 150px;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  font-size: 4rem;
  padding: 3rem;
}

.button-top {
  width: 20%;
}

.button:hover {
    background-color: #9DBF9E;
}

.button:hover > .list-container {
  display: block;
}

.list-container {
  position: relative;
  width: 100%;
  display: none;
}


.dropdown-list {
  top: -2px;
  position: absolute;
  height: 200px;
  overflow: scroll;
  background: white;
  border: solid #9DBF93 1px;
  width: 100%;
  z-index: 40;

}


.list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}

.list-item {
  height: 60vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidate-profile {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}