/* add custom styles */

/*https://coolors.co/app/2f3061-29339b-dbf9f4-bfc3ba-a9aca9*/
/*https://coolors.co/app/742121-c6caed-ada8be-a28497-dddfdf*/

body {
  padding: none !important;
  margin: none !important;
  border: none;
}

.option-select {
  display:none;
  margin-top: 10rem;
}

.cover {
  background-color: #2F3061;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.intro {
  font-size: 10rem;
}

.remove>h3:hover {
  color: #DDDFDF;
}

.remove {
  padding-left: 10rem;
  color: white;
}

.remove h3 {
  text-decoration: underline;
}

.glyphicon-star {
  position: absolute;
  margin: 2rem;
  color: #DDDFDF;
  font-size: 8rem;
  z-index: 99;
}

.glyphicon-star:hover {
  text-decoration: none;
  color: #291F1E;
 }
#employeeSel {
  display: none;

}

#holder {
  display: none;
  background-color: #6f5499;
  height: 400px;
  color: white !important;
  font-size: 2rem;
}

#presHolder {
  display: none;
  height: 400px;
  color: white !important;
  font-size: 2rem;
}

#holderBack {
  width: 100%;
}

.forceContainer{
  display: block;
  width: 100%;
}

.candContainer {
  display: block;
  width: 100%;
}

.tableHolder{
  height: 300px !important;
  overflow: scroll;
}