.child-tspan {
      display: block;
    }

    .float-right {
      text-align: right;
    }

    #containerChart {
      position: relative;
      height: 100%;
      width: 100%;
      background: #EFF1F3;
      font-family: 'Oswald';
    }

    spinner {
      position: absolute;
      top: 30%;
      height: 100%;
      width: 100%;
      right: 0;
    }

    .treemap-instructions {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      position: relative;
      top: 40%;
      height: 40%;
      width: 100%;
      z-index: 8;
      padding: 0;
      margin: 0;
    }

    .instruction-block-2 {
      padding: 1rem;
      font-size: 2rem;
      font-family: 'Oswald';
      font-weight: 300;
      height: 80%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: 0;
      font-weight: 300;
      color: white;
      background: #73877B;
      -webkit-transition: background 1s ease, color 1s ease; /* Safari 3.1 to 6.0 */
      transition: background color 1s ease, color 1s ease;
    }

    .instruction-block-2:hover {
      background: #9DBF9E;
      color: #4d4d4d;
      height: 100%;
    }

    .close-instructions {
      position: absolute;
      left: 30%;
      width: 40%;
      bottom: 1rem;
      font-family: 'Oswald';
      font-weight: 500;
      font-size: 1.6rem;
      color: #9DBF9E;
      z-index: 8;
      text-align: center;
      background-color: #73877B; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid #9DBF9E;
      border-radius: 25px;
      box-sizing: border-box;
      height: 10%;
    }

    .close-instructions:hover {
        background-color: #9DBF9E;
        color: white;
    }

    .instruction-block {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem;
      position: absolute;
      color: black;
      height: 10%;
      width: 100%;
      box-sizing: border-box;
      background:  #f2f2f2;;
      bottom: 0;
    }

    .tip-top {
      top: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      color: #4d4d4d;
      font-family: 'Oswald';
      font-weigth: 700;
      font-size: 2rem;
    }

    .tip-top span {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1rem;
    }

    rect {
      stroke: black;
      stroke-width: 1px;
    }


    #chart {
      position: absolute;
      width: 95%;
      height: 80%;
      left: 0;
      bottom: 10%;
    }

    .tree-tip {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: row;
      position: relative;
    }

    .button {
      font-family: 'Prata', serif;
      background-color: #73877B; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid #9DBF9E;
      border-radius: 25px;
      box-sizing: border-box;;
      width: 85%;
    }

    .button:hover {
        background-color: #9DBF9E;
        color: white;
    }

    .fec {
      height: 5rem;
    }

    #tip-purpose {
      font-size: 1.2rem;
    }