<div class="candidates-container text-center">

  <div class="toolbar">
    <h1>Superpacs</h1>
    <div class="row white">
      <div class="two columns">
        <div class="spacer">
        .
        </div>
      </div>
      <div class="eight columns instructions">
        This is the list of Superpacs.
      </div>
      <div class="two columns">
        <div class="spacer">
        </div>
      </div>
    </div>
    <div class="row twelve columns toolbar-stuff">
      <div class="one columns">
      </div>
      <div class="option three columns" (click)="sortCandidates()">
        Sort by Receipts
      </div>
      <div class="option four columns search-box">
          <tr>
            <td>
              Search by Name
            </td>
            <td>
              <input
                [(ngModel)]="name"
                type="text"
                name="name">
            </td>
          </tr>
      </div>
      <div class="option three columns dropdown">
        Sort by State
        <div class="list-container">
          <div class="dropdown-list">
            <div *ngFor="#state of states" class="dropdown-item"  (click)="setState(state)">{{state}}</div>
          </div>
        </div>
      </div>
      <div class="one column">
      </div>
    </div>
  </div>
  <div class="row candidates-container">
    <ul class="list twelve columns">
      <li *ngFor="#candidate of candidatesView" class="list-item four columns" [style.border]="candidate.tile_color">
        <div class="candidate-profile three columns">
          <div class="row">
            <div class="button"
                    (click)="buildSuperGraph(candidate.CMTE_ID)"
                  >
                    Donor Graph
              </div>
          </div>
          <div class="row profile-header">
              <h4>Total Receipts: {{parseFloat(candidate.tot_rec) | currency:'USD':true}}</h4>
              <h5>{{candidate.CMTE_NM}}</h5>
              <img src="images/fec.png" class="fec" (click)="openFec(candidate.lin_ima)" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>