<div class="content">
  <div *ngIf="isFirst" class="superpac-instructions">
    <div class="close-instructions" (click)="closeInstructions()">
      Got It!
    </div>
    <div class="column1">
      <ul>
        <div class="instruction-block">The operating expenditures treemap represents all funds spent by a given committee</div>
        <div class="instruction-block">The overall size of the rectangle represents all funds spent by the committee. Each smaller rectangle represents the portion of funds that were given to just one recipient.</div>
        <div class="instruction-block">Cdivcking each rectangle will show a transaction by transaction breakout of each expense.</div>
        <div class="instruction-block">Hover over any square to see the preview in the toolbar above the treemap.  This will show basic information divke amount, recipient, and the purpose of the transaction.</div>
      </ul>
    </div>
    <div class="column1">
      <ul>
        <div class="instruction-block">Click on a rectangle to see a detailed view of the transaction or recipient. The three levels of detail are:</div>
        <div class="instruction-block">Committee Level – Shows a breakout of the recipients of the committee’s expenses.</div>
        <div class="instruction-block">Recipient Level – Shows a breakout of each transaction to a given recipient</div>
        <div class="instruction-block">Transaction level – Shows detailed info for a given transaction and provides a divnk to the FEC Doc in the lower right hand corner.</div>
      </ul>
    </div>
  </div>
  <superpacs-list
    *ngIf="showList"
    [cand]="cand"
  >
  </superpacs-list>
  <treemap *ngIf="!showList" route="{{route}}">
  </treemap>
</div>