

.options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

treemap {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}

superpacs-list {
  position: absolute;
  height: 90%;
  width: 100%;
  bottom: 0;
  overflow: scroll;
}

.superpac-instructions {
  position: absolute;
  top: 20%;
  left: 20%;
  background: blue;
  height: 50%;
  width: 50%;
  z-index: 8;
}


.content {
  position: relative;
  width: 95%;
  height: 100%;
  overflow: hidden;
}

.choose-treemap:hover {
  background: #9DBF9E;
  color: #4d4d4d;
}

.choose-list:hover {
  background: #9DBF9E;
  color: #4d4d4d;
}

.selected {
  background: #9DBF9E;
  color: #4d4d4d;
}