.title {
  height: 100vh;
  text-align: center;
  border: solid 1px #3B3561;
  background-color: white;
  overflow: hidden;
  z-index: 5;
}

img {
  height: 100px;
  border-radius: 50%;
}

.transaction {
  margin-top: 50px;
}

.cand-table {
  margin: 0 !important;;
}
button {
  position: relative;
  top: 50px;
}

.summary {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.summary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #364760;
  font-family: 'Oswald';
  font-weight: 300;
  color: #EFF1F3;
}

.summary-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #2A394F;
  color: #EFF1F3;
}

.summary-header h5 {
  font-family: 'Oswald';
  font-weight: 300;
}

.summary-body h5 {
  font-family: 'Oswald';
  font-weight: 400;
}