.title {
  height: 100vh;
  text-align: center;
  background-color: #FCFCFC;
  overflow: hidden;
  z-index: 5;
  border-left: solid 3px #BDBBB6;
  font-family: 'Prata', serif;
}

img {
  height: 100px;
  border-radius: 50%;
  margin-top: 2rem;
  border: solid 3px white;
}

.transaction {
  margin-top: 50px;
}

.cand-table {
  margin: 0 !important;;
}

.button {
  font-family: 'Prata', serif;
  background-color: #73877B; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #9DBF9E;
  border-radius: 25px;
  box-sizing: border-box;;
  width: 80%;
}

.button:hover {
    background-color: #9DBF9E;
    color: white;
}


.individual-button {
  margin-top: 2rem;
}

.summary {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.summary-header {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 4rem;
  background: #73877B;
  font-family: 'Oswald';
  font-weight: 300;
  color: #EFF1F3;
}

svg {
  font-family: 'Oswald';
  font-weight: 300;

}

.summary-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background: #839788;
  color: #EFF1F3;
}

.summary-header h5 {
  font-family: 'Oswald';
  font-weight: 300;
}

.summary-body h5 {
  font-family: 'Oswald';
  font-weight: 400;
}

.float-right {
  text-align: right !important;
}

.spacer {
  height: 5rem;
}