.title {
  height: 100vh;
  text-align: center;
  border: solid 1px #3B3561;
  background-color: white;
  overflow: hidden;
  z-index: 5;
}

.transaction {
  margin-top: 50px;
}

.cand-table {
  margin: 0 !important;;
}
button {
  position: relative;
  top: 50px;
}

.summary {
  width: 90%;
  margin-left: 5%;
  height: 150px;
  border: solid 1px black;
}

.summary-header {
  height: 50px;
  border: solid 1px black;
}

.summary-body {
  height: 100px;
}