<div class="title">
    <div class="profile-tooltip">
      <div class="four columns">
        {{cmte?.CMTE_NM  || cmte?.NAME}}
      </div>
      <table class="four columns">
        <tr *ngIf="cmte?.graphtype === 'individual'">
          <td>Employer</td>
          <td>{{cmte?.EMPLOYER}}</td>
          <td>Transaction Amount:</td>
          <td>{{ parseFloat((cmte?.TRANSACTION_AMT) ? cmte?.TRANSACTION_AMT : 0.00) | currency:'USD':true}}</td>
        </tr>
      </table>
      <div *ngIf="cmte?.graphtype === 'committee'" class="four columns">
        <img src="images/fec.png" class="fec" (click)="openFec(cmte.IMAGE_NUM)" />
      </div>
      <div class="instructions">
        <p>Click on a donor to see a more detailed profile</p>
      </div>
    </div>
</div>