<div class="title">
      <div class="two columns">
        <div class="spacer">
        </div>
      </div>
      <div *ngIf="cmte?.graphtype === 'individual'" class="three columns name">
        <h4>{{cmte?.NAME}}</h4>
      </div>
      <div *ngIf="cmte?.graphtype === 'committee' || cmte?.graphtype === 'candidate'" class="four columns name comm">
        <p *ngIf="cmte?.CMTE_NM.length > 20">{{cmte?.CMTE_NM}}</p>
        <h4 *ngIf="cmte?.CMTE_NM.length <= 20">{{cmte?.CMTE_NM}}</h4>

      </div>
      <table *ngIf="cmte?.graphtype === 'individual'" class="two columns">
        <tr >
          <td>Employer</td>
          <td>{{cmte?.EMPLOYER}}</td>
        </tr>
      </table>
      <table *ngIf="cmte?.graphtype !== 'candidate'" class="two columns">
        <tr>
          <td>Transaction Amount:</td>
          <td>{{ parseFloat((cmte?.TRANSACTION_AMT) ? cmte?.TRANSACTION_AMT : 0.00) | currency:'USD':true}}</td>
        </tr>
      </table>
      <div *ngIf="cmte?.graphtype === 'committee'" class="two columns">
        <img src="images/fec.png" class="fec" (click)="openFec(cmte.IMAGE_NUM)" />
      </div>
      <div class="instructions two columns">
        <p>Click on a node to see a more detailed donor profile</p>
      </div>
</div>