h1, h2, h3, h4, h5, p {
  font-family: 'Oswald';
  font-weight: 300;
}

.cand-style {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 10px;
  background-color: #2C3A46;
}



.spinner-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  background-color: #EFF1F3;
}

.green {
  color: #86ca6f;
}
.red {
  color: #af3e4d;
}

.fec {
  height: 3rem;
  width: 3rem;
}

.close-button {
  position: absolute;
  top: 2px;
  right: 3px;
  color: black;
  font: 36px/100% arial, sans-serif;
  position: absolute;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
  z-index: 4;
  cursor: pointer;
}

img {
  width: 50%;
  border-radius: 50%;
  margin-top: 5rem;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
li {
  font-size: 8px;
}
.table-div {
  height: 600px;
  overflow: scroll;
}
.choices {
  background-color: #EFF1F3;
  color: #cbced2;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cand-pic {
  background-color: #3B4E5E;
  padding-bottom: 5rem;
}
.cand-options {
  background-color: #EFF1F3;
  display: flex;
  flex-direction: column;
}
.cand-option {
  display: flex;
  align-content: center;
  padding-left: 5px;
  border: #16191F;
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  color: #16191F;
  box-sizing: border-box;
}
.cand-option:hover {
  background-color: #16191F;
  color: #EFF1F3;
  border-left: solid 5px #53B4C4;
}

.main-content {
  color: #ECF9FD;
  position: relative;
}

.innards{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

bar-chart {
  position: relative;
  height: 35%;
}

.top-row {
  position: relative;
  height: 40%;
  text-align: center;
}

.top-row * {
  margin: 0 !important;
  padding: 0 !important;
}

.top-row td {
  font-size: 1.5rem;
  font-family: 'Oswald';
  font-weight: 300;
}

#pies-title {
  font-size: 2rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.fill {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie-tooltip {
  display: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pie-label {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2rem;
}

.pie-amount {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2rem;
}

.pie-percent {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2rem;
}

.middle-row {
  display: flex;
  position: relative;
  height: 25%;
  width: 100%;
  flex-direction: row;
}

.highlight-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 10px 0 0;
  padding: 0 !important;
  background-color: #3B4E5E;
  text-align: center;
}

.candidate-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pies {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
}

size-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: #3B4E5E;
  margin: 1rem 0 1rem 0;
}

type-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: #3B4E5E;
  margin: 1rem 0 1rem 0;
}

dsgn-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: #3B4E5E;
  margin: 1rem 0 1rem 0;
}

opex-section {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

superpacs-section {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

individuals-section {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

committees-section {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #FEFFFE;
}

.active {
  background-color: #16191F;
  color: #EFF1F3;
  border-left: solid 5px #53B4C4;
}

.flexy-row {
  position: absolute;
  height: 50%;
  width: 100%;
  border: solid 1px black;
}

.bottom {
  bottom: 0;
}

.top-highlight {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
}

.bottom-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
}

.support {
  background-color: #04471C;
}

.oppose {
  background-color: #3D0C11;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 25px;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}



.text-center {
  text-align: center;
}