h1, h2, h3, h4, h5, p {
  font-family: 'Oswald';
  font-weight: 300;
}

.cand-style {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 10px;
}
.green {
  color: #86ca6f;
}
.red {
  color: #af3e4d;
}
.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 25px;
  width: 25px;
}
.close-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 25px;
  width: 25px;
}

img {
  width: 50%;
  border-radius: 50%;
  margin-top: 5rem;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
li {
  font-size: 8px;
}
.table-div {
  height: 600px;
  overflow: scroll;
}
.choices {
  background-color: #EFF1F3;
  color: #cbced2;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cand-pic {
  background-color: #17324f;
  padding-bottom: 5rem;
}
.cand-options {
  background-color: #EFF1F3;
  display: flex;
  flex-direction: column;
}
.cand-option {
  display: flex;
  align-content: center;
  padding-left: 5px;
  border: #16191F;
  font-size: 3rem;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  color: #16191F;
  box-sizing: border-box;
}
.cand-option:hover {
  background-color: #16191F;
  color: #EFF1F3;
  border-left: solid 5px #53B4C4;
}

bar-chart {
  position: relative;
  height: 50%;
}

.top-row {
  position: relative;
  height: 50%;
}

.candidate-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pies {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

size-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

type-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

dsgn-pie {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

opex-section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

superpacs-section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

individuals-section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

committees-section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  background-color: #FEFFFE;
}

.active {
  background-color: #16191F;
  color: #EFF1F3;
  border-left: solid 5px #53B4C4;
}

.flexy-row {
  position: absolute;
  height: 50%;
  width: 100%;
  border: solid 1px black;
}

.bottom {
  bottom: 0;
}


.text-center {
  text-align: center;
}