<div class="cand-style" id="full-size">
  <div class="three columns choices">
    <div class="cand-pic text-center">
      <img [src]="imageVar?.image" alt="picture">
      <h5>{{candidate?.CANDIDATE_NAME}}</h5>
      <p>Party: {{candidate?.PARTY}}</p>
      <p>Office: {{candidate?.CANDIDATE_OFFICE}}</p>
      <p>FEC ID: {{candidate?.CANDIDATE_ID}}</p>
      <p>Hometown: {{candidate?.CITY}}, {{candidate?.STATE}}</p>
    </div>
    <div class="cand-options">
      <div class="cand-option"
        (click)="choice('main')"
        [class.active]="selection==='main'"
        >
        <h5>Main Info</h5>
      </div>
      <div class="cand-option"
        (click)="choice('opex')"
        [class.active]="selection==='opex'"
        >
        <h5>Committee Opex</h5>
      </div>
      <div class="cand-option"
        (click)="choice('superpacs')"
        [class.active]="selection==='superpacs'"
        >
        <h5>SuperPac Expenditures</h5>
      </div>
      <div class="cand-option"
        (click)="choice('individuals')"
        [class.active]="selection==='individuals'"
        >
        <h5>Individual Donors</h5>
      </div>
      <div class="cand-option"
        (click)="choice('committees')"
        [class.active]="selection==='committees'"
        >
        <h5>Committee Donors</h5>
      </div>
    </div>
    </div>
    <div class="nine columns main-content">
      <individuals-section
        *ngIf="selection==='individuals'"
        [cmte]="committee">
      </individuals-section>
      <committees-section
        *ngIf="selection==='committees'"
        [cmte]="committee">
      </committees-section>
      <superpacs-section
        *ngIf="selection==='superpacs'"
        [cand]="candidate">
      </superpacs-section>
      <opex-section
        *ngIf="selection==='opex'"
        [cmte]="committee">
      </opex-section>


      <div class="four columns pies">

        <size-pie></size-pie>

        <type-pie></type-pie>

        <dsgn-pie></dsgn-pie>
      </div>
      <div class="eight columns candidate-content">
        <div class="twelve columns top-row">
            <h5>{{primaryCmte?.CMTE_NM}} <a [href]="candidate?.lin_ima"><img src="images/fec.png" class="fec" /></a></h5>
            <table>
              <tr>
                <td colspan="2">Receipts</td>
                <td colspan="2">Disbursements</td>
              </tr>
              <tr>
                <td>Itemized Individual Contributions</td>
                <td>{{candidate?.ind_ite_con}}</td>
                <td>Operating Expenditures</td>
                <td>{{candidate?.ope_exp}}</td>
              </tr>
              <tr>
                <td>Unitemized Individual Contributions</td>
                <td>{{candidate?.ind_uni_con}}</td>
                <td>Total Loan Repayments</td>
                <td>{{candidate?.tot_loa_rep}}</td>
              </tr>
              <tr>
                <td>Total Individual Contributions</td>
                <td>{{candidate?.ind_con}}</td>
                <td>Individual Refunds</td>
                <td>{{candidate?.ind_ref}}</td>
              </tr>
              <tr>
                <td>Party Committee Contributions</td>
                <td>{{candidate?.par_com_con}}</td>
                <td>Total Disbursements</td>
                <td>{{candidate?.tot_dis}}</td>
              </tr>
              <tr>
                <td>Other Committee Contributions</td>
                <td>{{candidate?.oth_com_con}}</td>
                <td colspan="2">Cash Summary</td>
              </tr>
              <tr>
                <td>Candidate Contributions</td>
                <td>{{candidate?.can_con}}</td>
                <td>Ending Cash on Hand</td>
                <td>{{candidate?.cas_on_han_clo_of_per}}</td>
              </tr>
              <tr>
                <td>Total Contributions</td>
                <td>{{candidate?.tot_con}}</td>
                <td>Total Loans</td>
                <td>{{candidate?.tot_loa}}</td>
              </tr>
            </table>
        </div>
        <div class="twelve columns middle-row">
          <div class="highlight-tile three columns">
            <div class="fill">
              <div id="pies-title"><p>Hover over pie charts to see details below</p></div>
              <div class="pie-tooltip">
                <div class="pie-label"></div>
                <div class="pie-amount"></div>
                <div class="pie-percent"></div>
              </div>
            </div>
          </div>
          <div class="highlight-tile three columns">
            <div class="top-highlight">
              <h2>{{itemizedDonations}}</h2>
            </div>
            <div class="bottom-highlight">
              <h2>{{committeeDonations}}</h2>
            </div>
          </div>
          <div class="highlight-tile three columns">
            <div class="top-highlight support">
              <h2>{{pacSupport}}</h2>
            </div>
            <div class="bottom-highlight oppose">
              <h2>{{pacOppose}}</h2>
            </div>
          </div>
        </div>
        <bar-chart
          class="twelve columns"
          [graphData]="c">
        </bar-chart>
      </div>

    </div>
</div>