<div class="cand-style">
    <div class="cand-pic text-center">
        <h4>{{candidate?.CANDIDATE_NAME}}</h4>
        <img [src]="imageVar?.image" alt="picture">
    </div>
    <div class="pie-chart">
      <h5>Donations by Amount</h5>
      <pie-chart>
      </pie-chart>
    </div>
    <div class="main-info">
      <p>Office Sought: {{candidate?.CANDIDATE_OFFICE}}</p>
      <p>Hometown: {{candidate?.can_cit}}, {{candidate?.STATE}}</p>
      <p>Birthdate: {{candidateInfo?.bio?.birthday}}</p>
      <p>Gender: {{candidateInfo?.bio?.gender}}</p>
      <p>Religion: {{candidateInfo?.bio?.religion}}</p>
      <p><a [href]="candidate?.lin_ima">FEC Filing Link</a></p>
      <p><em>Begin Cash: </em> {{parseFloat(candidate?.cas_on_han_clo_of_per) | currency:'USD':true}}</p>
      <p><em>End Cash: </em> {{parseFloat(candidate?.cas_on_han_clo_of_per) | currency:'USD':true}}</p>
      <p><em>Debt: </em> {{parseFloat(candidate?.deb_owe_by_com) | currency:'USD':true}}</p>
      <p><em>Funding from Candidate: </em> {{parseFloat(candidate?.can_con) | currency:'USD':true}}</p>
      <p><em>Net Contributions: </em> {{parseFloat(candidate?.net_con) | currency:'USD':true}}</p>
      <p><em>Net Opex: </em> {{parseFloat(candidate?.net_ope_exp) | currency:'USD':true}}</p>
      <p><em>Distributions: </em> {{parseFloat(candidate?.tot_dis) | currency:'USD':true}}</p>
    </div>

    <treemap route="/api/pac/aggregate/P00003392">
    </treemap>
    <div class="associated-committees">
      <h5>Associated Committees</h5>
      <ul>
        <li *ngFor="#cmte of associatedCommittees">{{cmte.CMTE_ID}}</li>
      </ul>
    </div>

    <div class="pac-spend">
      <h3>Usage of Funds</h3>
      <div class="table-div">
        <ul>
          <li *ngFor="#pacspend of pacSpends">{{pacspend.pay}} {{pacspend.exp_amo}}</li>
        </ul>
      </div>
    </div>

</div>

  <div class="row indiv twelve columns">
    <button (click)="close()">Close</button>
  </div>