<div class="committee-container">
  <div class="four columns financials">
    <br>
    <h5>{{committee?.com_nam}}</h5>
    <p>{{committee?.add}}</p>
    <p>{{committee?.cit}}, {{committee?.sta}}</p>
    <p>Treasurer: {{committee?.tre_nam}}</p>
    <p><a [href]="committee?.lin_ima">FEC Link</a></p>

    <table>
      <tr>
        <td>Cash</td>
        <td class="green">{{parseFloat(committee?.cas_on_han_clo_of_per)}}</td>
      </tr>
      <tr>
        <td>Net Contributions</td>
        <td class="green">{{parseFloat(committee?.net_con) | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td>Net Distributions</td>
        <td class="red">{{parseFloat(committee?.tot_dis) | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td>Net Opex</td>
        <td class="red">{{parseFloat(committee?.net_ope_exp) | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td>Debts Owed</td>
        <td class="red">{{parseFloat(committee?.deb_owe_by_com) | currency:'USD':true}}</td>
      </tr>
    </table>
    <div class="cmte-options">
      <div (click)="showBubbleEmit(committee?.com_id)" class="cmte-option">
        <h5>Show All Individuals</h5>
      </div>
    </div>
  </div>
  <div class="eight columns flexcontainer">
    <div class="flexrow">
      <div class="twelve columns treemap">
        <div (click)="close()" class="close-button">
          <img src="/images/close.png" class="close-icon" />
        </div>
        <treemap route="{{route?.data}}">
        </treemap>
      </div>
    </div>

    <div class="flexrow">
      <div class="six columns outer-table">
  <!--       <bubble-chart cmte="{{committee}}">
        </bubble-chart> -->
        <h5>Donations from Individuals</h5>
        <div class="other-donations">
          <div *ngFor="#indiv of individuals?.data"
                 class="row donor-tile">
            <div class="one-half column text-center">
              <p>{{indiv?.NAME}}</p>
              <p>{{indiv?.EMPLOYER}}</p>
              <p>{{indiv?.OCCUPATION}}</p>
              <p><a [href]="indiv?.IMAGE_NUM">FEC Link</a></p>
            </div>
            <div class="one-half column">
              <h5 class="green">Donation: {{parseFloat(indiv?.TRANSACTION_AMT) | currency:'USD':true}}</h5>
              <button (click)="changeIndiv(indiv)">
                See Donation
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="six columns outer-table">
        <h5>Donations from Committees</h5>
        <div class="other-donations">
          <div *ngFor="#reciept of recieveds?.data"
                 class="row donor-tile">
            <div class="one-half column text-center">
              <p>{{reciept?.NAME}}</p>
              <p>{{reciept?.MEMO_TEXT}}</p>
              <p>{{reciept?.CMTE_ID}}</p>
              <p ><a [href]="reciept?.IMAGE_NUM">FEC Link</a></p>
            </div>
            <div class="one-half column">
              <h5 class="green">Donation: {{parseFloat(reciept?.TRANSACTION_AMT) | currency:'USD':true}}</h5>
              <h5>Type: {{reciept?.TRANSACTION_TP}}</h5>
              <button (click)="changeCmte(reciept?.CMTE_ID)">Committe Page</button>
            </div>
          </div>
        </div>
      </div> -->
      <div class="six columns outer-table">
        <h5>Donations to other Committees</h5>
        <div class="other-donations">
          <div *ngFor="#contrib of contributeds?.data"
                 class="row donor-tile">
            <div class="one-half column text-center">
              <p>{{contrib?.NAME}}</p>
              <p>{{contrib?.MEMO_TEXT}}</p>
              <p>{{contrib?.OTHER_ID}}</p>
              <p><a [href]="contrib?.IMAGE_NUM">FEC Link</a></p>
            </div>
            <div class="one-half column">
              <h5 class="red">Donation: {{parseFloat(contrib?.TRANSACTION_AMT) | currency:'USD':true}}</h5>
              <h5>Type: {{contrib?.TRANSACTION_TP}}</h5>
              <button (click)="changeCmte(contrib?.OTHER_ID)">Committe Page</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
