

treemap {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}

opex-list {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  overflow: scroll;
}

h1, h2, h4, h5, p, td, th {
  font-family: 'Prata', serif;
}
.opex-instructions {
  position: absolute;
  top: 20%;
  left: 20%;
  background: white;
  height: 50%;
  width: 50%;
  z-index: 8;
}

.close-instructions {
  position: absolute;
  top: 0%;
  right: 0%;
  background: white;
  height: 10%;
  width: 10%;
  z-index: 8;
  font-size: 2rem;
}
.content {
  position: relative;
  width: 95%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.choose-treemap {
  height: 10%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  display: inline;
  font-family: 'Oswald';
  font-weight: 300;
}

.choose-list {
  height: 10%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background: transparent ;
  display: inline;
  font-family: 'Oswald';
  font-weight: 300;
}

.choose-treemap:hover {
  background: #9DBF9E;
  color: #4d4d4d;
}

.choose-list:hover {
  background: #9DBF9E;
  color: #4d4d4d;
}

.selected {
  background: #9DBF9E;
  color: #4d4d4d;
}
