treemap {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}

opex-list {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  overflow: scroll;
}

h1, h2, h4, h5, p, td, th {
  font-family: 'Prata', serif;
}

.columns {
  box-sizing: border-box;
  margin: 0;
}

.column1 {
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
}

.column2 {
  position: absolute;
  right: 0;
  height: 90%;
  width: 50%;
  display: flex;
  box-sizing: border-box;
}

.opex-instructions {
  position: relative;
  top: 15%;
  left: 15%;
  background: white;
  height: 70%;
  width: 70%;
  z-index: 8;
  padding: 0;
  margin: 0;
}

.close-instructions {
  position: absolute;
  left: 30%;
  width: 40%;
  bottom: 1rem;
  font-family: 'Oswald';
  font-weight: 500;
  color: #9DBF9E;
  z-index: 8;
  text-align: center;
}

.instruction-block {
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Oswald';
  font-weight: 300;
  height: 25%;
  width: 100%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px #75717B;
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  color: white;
  background: #73877B;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.selected {
  background: #9DBF9E;
  color: #4d4d4d;
}

.button {
  font-family: 'Oswald';
  font-weight: 500;
  background-color: #73877B; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #9DBF9E;
  border-radius: 25px;
  box-sizing: border-box;;

}

.button:hover {
    background-color: #9DBF9E;
    color: white;
}
