<div class="indiv-container">
  <spinner [isRunning]="isRequesting">
  </spinner>
  <div class="indiv" *ngIf="!isRequesting">
    <h3>{{individual?.NAME}}</h3>
    <table>
      <tr>
        <td>State:</td>
        <td>{{individual?.CITY }}, {{individual?.STATE}}</td>
      </tr>
      <tr>
        <td>Employer:</td>
        <td>{{individual?.EMPLOYER}}</td>
      </tr>
      <tr>
        <td>Occupation:</td>
        <td>{{individual?.OCCUPATION}}</td>
      </tr>
      <tr>
        <td>Transaction Date:</td>
        <td>{{individual?.TRANSACTION_DT.substring(0,10)}}</td>
      </tr>
    </table>


    <h1>Transaction Amount: {{parseFloat(individual?.TRANSACTION_AMT) | currency:'USD':true}} <img src="images/fec.png" class="fec" (click)="openFec(individual?.FEC_LINK)"/></h1>
  </div>
  <div class="indiv-options">
    <div class="indiv-option" (click)="searchName(individual?.NAME)">
      Search Name
    </div>
    <div class="indiv-option" (click)="searchNameTitle(individual?.NAME, individual?.EMPLOYER)">
      Search Name & Employer
    </div>
    <div class="indiv-option" (click)="callList()">
      Transactions
    </div>
  </div>
  <individual-popup-list *ngIf="isSelected"
    [isMobile]="true"
    [indivName]="individual?.NAME"
    (changeIndiv)="changeIndiv($event)">
  </individual-popup-list>
</div>