/* add custom styles */

/*https://coolors.co/app/2f3061-29339b-dbf9f4-bfc3ba-a9aca9*/
/*https://coolors.co/app/742121-c6caed-ada8be-a28497-dddfdf*/

th, td {
  font-family: "News Cycle","Arial Narrow Bold",sans-serif;
  font-weight: 500;
}

img {
  height: 200px;
}

body {
  padding: none !important;
  margin: none !important;
  border: none;
}

.option-select {
  display:none;
  margin-top: 10rem;
}

#openOptions {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.cover {
  background-color: #2F3061;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.intro {
  font-size: 10rem;
}

.remove>h3:hover {
  color: white;
}

.remove {
  padding-left: 10rem;
  color: white;
}

.remove h2, h3 {
  color: #DDDFDF;
}

.remove h3 {
  text-decoration: underline;
}


#employeeSel {
  display: none;
}

#holder {
  display: none;
  background-color: #DDDFDF;
  border-bottom: solid 1px #ADA8BE;
  height: 450px;
  font-size: 2rem;
}

#presHolder {
  position: relative;
  width: 100%;
  display: none;
  height: 450px;
  color: white !important;
  font-size: 2rem;
}

.closer {
  position: relative;
  height: 450px;
}

#name {
  color: #742121;
}

#imgPlaceholder{
  margin-top: 2rem;
}

#collapse {
  position: absolute;
  padding: 2rem;
}

#holderBack {
  width: 100%;
}

.forceContainer{
  display: block;
  width: 100%;
}

.candContainer {
  display: block;
  width: 100%;
}

.tableHolder{
  margin-top: 3rem;
  height: 350px !important;
  overflow: scroll;
}