h1, h2, h3, h4, h5, p, td, th {
  font-family: 'Oswald';
  font-weight: 300;
}

.content {
  position: absolute;
  background-color: #2C3A46;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

.cmte-name {
  width: 15%;
}