<div *ngIf="!isMobile" class="content">
  <table>
    <tr>
      <th>
        Committee Name
      </th>
      <th>
        Committee ID
      </th>
      <th>
        Transaction Amount
      </th>
      <th>
        Location
      </th>
      <th>
        FEC File
      </th>
      <th>
        Committe Link
      </th>
    </tr>
    <tr *ngFor="#committee of committees">
      <td class="cmte-name">
        {{committee.NAME}}
      </td>
      <td>
        {{committee.CMTE_ID}}
      </td>
      <td class="green">
        {{parseFloat(committee.TRANSACTION_AMT) | currency:'USD':true}}
      </td>
      <td>
        {{committee.CITY}}, {{committee.STATE}}
      </td>
      <td>
      <a (click)="openFec('http://docquery.fec.gov/cgi-bin/fecimg?'+committee?.IMAGE_NUM)"><img src="images/fec.png" class="fec" /></a>
      </td>
      <td>
        {{committee.CMTE_ID}}
      </td>
    </tr>
  </table>
</div>

<div *ngIf="isMobile" class="content">
  <table>
    <tr>
      <th class='mobile '>
        Committee Name
      </th>
      <th class='mobile'>
        Transaction Amount
      </th>
    </tr>
    <tr *ngFor="#committee of committees">
      <td class="cmte-name-mobile mobile" (click)="changeCmte(committee.OTHER_ID)">
        {{committee.NAME}}
      </td>
      <td class='mobile'>
        {{parseFloat(committee.TRANSACTION_AMT) | currency:'USD':true}}
        <a (click)="openFec('http://docquery.fec.gov/cgi-bin/fecimg?'+committee?.IMAGE_NUM)"><img src="images/fec.png" class="fec" /></a>
      </td>
    </tr>
  </table>
</div>
