

circle {
  z-index: 20;
}
image {
  z-index: 20;
  margin-left: 200px;
}

.test-button {
  position: fixed;
  bottom: 5vh;
  left: 20px;
  z-index: 3;
}

.graph-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-instructions {
  position: fixed;
  left: 20vw;
  top: 15vh;
  width: 60vw;
  height: 70vh;
  background: rgba(255, 255, 255, .8);
  z-index: 8;

}

.instructions-close {
  position: absolute;
  right: 25%;
  bottom: 2rem;
  z-index: 9;
  font-size: 2rem;
  width: 50% !important;
}

.tree-close {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
inputs-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: blue;
}
mini-profile-view {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.instructions-1 {
  position: fixed;
  right: 0;
  bottom: 15%;
  background-color: rgba(255, 255, 255, .9);
  font-family: 'Oswald';
  font-weight: 300;
}

.instructions-2 {
  position: fixed;
  right: 0;
  top: 0%;
  background-color: rgba(255, 255, 255, .9);
  font-family: 'Oswald';
  font-weight: 300;
}

.usage {
  font-weight: 500;
  color: white;
  background: #73877B;
}

.main-instructions {
  position: relative;
  height: 80%;
  width: 100%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

}

.title {
  height: 10%;
  font-size: 3rem;
  font-family: 'Oswald';
  font-weight: 300;
  text-align: center;
}

.graph-instruction-block {
  font-family: 'Oswald';
  font-weight: 300;
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: solid 1px #75717B;
  box-sizing: border-box;
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  background: #73877B;
}

outputs-view {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100vh;
  background-color: blue;
}
individual-popup {
  position: absolute;
  width: 40%;
  height: 70%;
  top: 15%;
  left: 30%;
  border: solid 1px #75717B;
  background-color: #FEFFFE;
  z-index: 5;
}
committee-popup {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  border: solid 1px #75717B;
  background-color: #FEFFFE;
}
candidate-popup {
  position: fixed;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  background-color: #FEFFFE;
}
treemap {
  position: absolute;
  z-index: 5;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: solid 1px #75717B;
  background-color: #FEFFFE;
}
bubble-chart {
  position: absolute;
  z-index: 5;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: solid 1px #75717B;
  background-color: #FEFFFE;
}
congress-popup {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: solid 1px #75717B;
  background-color: #FEFFFE;
}
circle {
  stroke: black;
  stroke-width: 1.5px;
}

#legend {
  position: absolute;
  bottom: 0;
  right: 0;
  background: blue;
  height: 400px;
  width: 400px;
}

.button {
  font-family: 'Oswald';
  font-weight: 300;
  background-color: #73877B; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #9DBF9E;
  border-radius: 25px;
  box-sizing: border-box;;
  width: 15%;

}

.button:hover {
    background-color: #9DBF9E;
    color: white;
}