<spinner [isRunning]="isRequesting">
</spinner>

<svg id="force" height="900" width="1600">
  <!-- <defs>
    <pattern id="circles-1" width="1" height="1">
      <image [href]="https://raw.githubusercontent.com/djrobinson/campaign_finance/master/candidates/P00003392.jpg"
      width="100" height="100">
      </image>
    </pattern>
  </defs> -->
</svg>

  <div *ngIf="size==='small'" class="button test-button" (click)="changeSize()">
    More Nodes
  </div>
    <div *ngIf="size==='big'" class="button test-button" (click)="changeSize()">
    Less Nodes
  </div>
<div>
  <mini-profile-view
    class="three columns"
  >
  </mini-profile-view>
</div>
<div *ngIf="indivPopup">
  <individual-popup
    [individualTran]="individualTran"
    [indivName]="indivName"
    (exitEmit)="exitIndiv()">
  </individual-popup>
</div>
<div *ngIf="fullTreemap">
  <div class="tree-close">
    <button (click)="closeTreemap()">Close</button>
  </div>
  <treemap route="{{fullRoute}}">
  </treemap>
</div>
<div *ngIf="fullBubble">
  <bubble-chart
    cmte="{{bubbleCmte}}"
    (exitEmit)="closeBubble()"
    (indivEmit)="changeIndiv($event)">
  </bubble-chart>
</div>
<div *ngIf="cmtePopup">
  <committee-popup
    [isCandidate]="false"
    [committee]="selectedCommittee"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
    (indivEmit)="changeIndiv($event)"
    (bubbleEmit)="showBubble($event)">
  </committee-popup>
</div>
<div *ngIf="candPopup">
  <candidate-popup
    [isCandidate]="isCand"
    [candidate]="selectedCandidate"
    [committee]="selectedCommittee"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
    (changeIndiv)="showIndivPopup($event)"
    (treemapEmit)="showTreemap($event)"
  >
  </candidate-popup>
</div>
<div *ngIf="congressPopup">
  <congress-popup
    [candidate]="selectedCandidate"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
  >
  </congress-popup>
</div>