<spinner [isRunning]="isRequesting">
</spinner>

<div class="mega-bowl" [ngStyle]="{'background': isDark, 'display': isShown}">
</div>
<svg id="force" height="100vh" width="100vw">

</svg>
  <div class="movement-instructions">
    <p>Scroll to Zoom, Click and Drag to Move the Viewport</p>
  </div>
  <div *ngIf="isPres && !candPopup">
    <div *ngIf="size==='small'" class="button test-button" (click)="changeSize()">
      More Nodes
    </div>
    <div *ngIf="size==='big'" class="button test-button" (click)="changeSize()">
      Less Nodes
    </div>
  </div>
<div>
  <div *ngIf="isFirst" class="graph-instructions">
    <div class="instructions-close button" (click)="closeInstructions()" (mouseover)="lightUpPage()">
      Close Instructions
    </div>
    <div class="main-instructions">
        <div class="graph-instruction-block usage" (mouseover)="showPreview()"  (mouseout)="hidePreview()">Hover over a node to see the donor name and transaction size in the preview box below</div>
        <div class="graph-instruction-block usage" (mouseover)="showExamplePopup()"  (mouseout)="hideExamplePopup()">Click each circle to look at a detailed donor profile for the individual/committee</div>
        <div *ngIf="isPres" class="graph-instruction-block usage" (mouseover)="showMoreButton()"  (mouseout)="hideMoreButton()">Select “More Nodes” in the bottom-left to double the nodes branching off the presidential candidate</div>
        <div class="graph-instruction-block" (mouseover)="showFlow()"  (mouseout)="hideFlow()">
          Funds flow from outer nodes to inner nodes (Except for occasional contribution refunds. Click the transaction to see the purpose.)
        </div>
        <div class="graph-instruction-block" (mouseover)="selectTypes()" (mouseout)="deselectTypes()">Green circles represent single donations from individuals</div>
        <div class="graph-instruction-block" (mouseover)="selectCategory()" (mouseout)="deselectCategory()">The yellow/red circles represent committees, with their shade based on overall contributions.</div>
        <div class="graph-instruction-block" (mouseover)="selectSizes()" (mouseout)="deselectSizes()"><p>The size of each circle represents the size of the transaction given to the connected circle</p></div>
    </div>
  </div>
  <mini-profile-view
    *ngIf="!candPopup  && !indivPopup"
  >
  </mini-profile-view>
</div>
<div *ngIf="indivPopup">
  <individual-popup
    [individualTran]="individualTran"
    [indivName]="indivName"
    (exitEmit)="exitIndiv()">
  </individual-popup>
</div>
<div *ngIf="fullTreemap">
  <div class="tree-close">
    <button (click)="closeTreemap()">Close</button>
  </div>
  <treemap route="{{fullRoute}}">
  </treemap>
</div>
<div *ngIf="fullBubble">
  <bubble-chart
    cmte="{{bubbleCmte}}"
    (exitEmit)="closeBubble()"
    (indivEmit)="changeIndiv($event)">
  </bubble-chart>
</div>
<div *ngIf="cmtePopup">
  <committee-popup
    [isCand]="false"
    [committee]="selectedCommittee"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
    (indivEmit)="changeIndiv($event)"
    (bubbleEmit)="showBubble($event)">
  </committee-popup>
</div>
<div *ngIf="candPopup" class="bordermeister">
  <candidate-popup
    [popster]="popster"
    [isCand]="isCand"
    [candidate]="selectedCandidate"
    [committee]="selectedCommittee"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
    (changeIndiv)="showIndivPopup($event)"
    (treemapEmit)="showTreemap($event)"
  >
  </candidate-popup>
</div>
<div *ngIf="congressPopup">
  <congress-popup
    [candidate]="selectedCandidate"
    (exitEmit)="exit()"
    (cmteEmit)="changeCmte($event)"
  >
  </congress-popup>

</div>
<svg height="42.5%" width="10%" class="instructions-1" *ngIf="!candPopup">
  <g transform="translate(15, 20)">
    <text dx="0" dy="1rem">Transaction Amount</text>
  </g>

  <g transform="translate(50, 90)">
    <circle r="40" style="fill: #35978F">
    </circle>
    <text dx="0" dy="1rem">>$300K</text>
  </g>
  <g transform="translate(50, 160)">
    <circle r="35" style="fill: #35978F">

    </circle>
    <text dx="0" dy="1rem">$300K</text>
  </g>
  <g transform="translate(50, 220)">
    <circle r="30" style="fill: #35978F">

    </circle>
    <text dx="0" dy="1rem">$50K</text>
  </g>
  <g transform="translate(50, 270)">
    <circle r="25" style="fill: #35978F">

    </circle>
    <text dx="0" dy="1rem">$10K</text>
  </g>
  <g transform="translate(50, 310)">
    <circle r="20" style="fill: #35978F">
    </circle>
    <text dx="0" dy="1rem">$5K</text>
  </g>
  <g transform="translate(50, 340)">
    <circle r="15" style="fill: #35978F">
    </circle>
    <text dx="0" dy="1rem"><$2,699</text>
  </g>
</svg>
<svg height="42.5%" width="10%" class="instructions-2" *ngIf="!candPopup">
  <g transform="translate(20, 20)">
    <text dx="0" dy="1rem">Committee Contributions</text>
  </g>
  <g transform="translate(50, 75)">
    <circle r="20" style="fill: #DB504A">
    </circle>
    <text dx="0" dy="1rem">$1M</text>
  </g>
  <g transform="translate(50, 125)">
    <circle r="20" style="fill: #DB7F67">
    </circle>
    <text dx="0" dy="1rem">$500K</text>
  </g>
  <g transform="translate(50, 175)">
    <circle r="20" style="fill: #EB9486">
    </circle>
    <text dx="0" dy="1rem">$100K</text>
  </g>
  <g transform="translate(50, 225)">
    <circle r="20" style="fill: #F5C396">
    </circle>
    <text dx="0" dy="1rem">$50K</text>
  </g>
  <g transform="translate(50, 275)">
    <circle r="20" style="fill: #F6F5AE">
    </circle>
    <text dx="0" dy="1rem"><$10K</text>
  </g>
  <g transform="translate(50, 325)">
    <circle r="20" style="fill: #35978F">
    </circle>
    <text dx="0" dy="1rem">Individual</text>
  </g>
</svg>
<svg height="15%" width="10%" class="instructions-3" *ngIf="!candPopup">

</svg>