button {
  width: 100%;
}
table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.text-center {
  text-align: center;
}
.totals {
  display: flex;
  height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.totals-box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}

.first {
  background: #5A83BF;
}

.second {
  background: #47a4b4;
}

.third {
  background: #e49e95;
}

.candidates-container {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: #CDCDCD;
  color: #303845;
}

.fec {
  height: 4rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.profile-img {
  position: relative;
  height: 15rem;
  border-radius: 50%;
  top: -7.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.profile-header {
  position: relative;
  color: #008CBA;
  background: #EFF1F3;
  width: 100%;
  height: 12.5rem;
}

.select-options {
  text-align: left;
  margin: 2rem 0 2rem 10%;
  clear: both;
}

.select-option h5 {
  padding: 0;
  margin: 0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}

.list-item {
  width: 33%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E8F1F2;
}




/*.list-item:nth-child(3n-1){
  background: #91ADC5;
}

.list-item:nth-child(3n){
  background: #CCDBDC;
}

.list-item:nth-child(3n-2){
  background: #145C9E;
}*/

.candidate-profile {
  text-align: center;
  width: 100%;
}

img {
  padding: 0;
  margin: 0;
}