button {
  width: 100%;
}
table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

h5 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}
.totals {
  display: flex;
  height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.totals-box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.first {
  background: #5A83BF;
}

.second {
  background: #47a4b4;
}

.third {
  background: #e49e95;
}

.candidates-container {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  font-family: 'Prata', serif;
}

.fec {
  height: 4rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.profile-img {
  height: 10rem;
  margin-bottom: 0;
  border-radius: 50%;
  padding-bottom: 0;
  border: solid 3px black;
  box-sizing: border-box;

}

.basic-info {
  text-align: center;
  padding: 4rem;
}

.profile-header {
  align-items: center;
  height: 20rem;
}


.select-options {
  text-align: left;
  margin: 2rem 0 2rem 10%;
  clear: both;
}

.select-option h5 {
  padding: 0;
  margin: 0;
}

.button {
  font-family: 'Prata', serif;
  background-color: #73877B; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #9DBF9E;
  border-radius: 25px;
  box-sizing: border-box;;
}

.button:hover {
    background-color: #9DBF9E;
    color: white;
}


.list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}

.list-item {
  width: 33%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.candidate-profile {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}

.image-container {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}
